* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FBFCFC;
  font-size: 1em;
}

.container {
  max-width: 1200px;
  width: 75vw;
  margin: 0 auto 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
}
.nav-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.nav-menu__a:nth-child(1) {
  font-weight: 600;
  font-size: 1.3em;
}
.nav-menu__a {
  text-decoration: none;
  color: black;
}
.nav-menu__ul_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.nav-menu__img {
  width: auto;
  height: 25px;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #909497;
}
.main__item:nth-child(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.main__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50%;
  padding-left: 5%;
  padding-right: 3%;
}
.main__item-text:nth-child(2) {
  width: 65%;
}
.main__h1 {
  font-size: 2em;
  margin-bottom: 3%;
}
.main__h2 {
  font-size: 1.4em;
  margin-bottom: 3%;
}
.main__p {
  margin-bottom: 1%;
}
.main__img {
  display: block;
}
.main__img:nth-child(1) {
  width: 330px;
}
.main__button {
  width: 100px;
  height: 40px;
  border: 1px solid #797D7F;
  border-radius: 5px;
  background-color: #FBFCFC;
  cursor: pointer;
  margin-top: 2%;
}

.gallery {
  border-top: 1px solid #909497;
}
.gallery__h2 {
  font-size: 1.4em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.gallery__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__img {
  display: block;
}

.features__h2 {
  font-size: 1.4em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.features__item:nth-child(1) {
  border-bottom: 1px solid #909497;
}
.features__item:nth-child(2) {
  border-left: 1px solid #909497;
  border-right: 1px solid #909497;
  border-bottom: 1px solid #909497;
}
.features__item:nth-child(3) {
  border-bottom: 1px solid #909497;
}
.features__item:nth-child(5) {
  border-left: 1px solid #909497;
  border-right: 1px solid #909497;
}
.features__img {
  width: 30px;
  height: auto;
  display: block;
}
.features__p {
  padding: 0 3% 0 3%;
  text-align: center;
}

.form {
  width: 80%;
  margin: 0 auto 3% auto;
  border-bottom: 1px solid #909497;
}
.form__h2 {
  font-size: 1.4em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}
.form__input {
  width: 250px;
  height: 30px;
}
.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 3%;
}
.form__label-left {
  padding: 1% 0 1% 0;
}
.form__select {
  width: 100%;
  height: 30px;
  background: transparent;
  display: block;
  border: 1px solid #909497;
  color: #32353a;
  line-height: 1.4;
  font-weight: normal;
  padding: 7px 10px 7px 10px;
  height: 36px;
  outline: 0;
}
.form__textarea {
  width: 100%;
}
.form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2%;
}
.form__input-check {
  margin-right: 10px;
}
.form__button {
  width: 100px;
  height: 40px;
  border: 1px solid #797D7F;
  border-radius: 5px;
  background-color: #FBFCFC;
  cursor: pointer;
  margin-top: 2%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.icons__item {
  width: 45px;
  height: auto20;
}