$icon-width: 25px;
$icon-height: auto;
$nav-gap: 20px;
$color-grey: #909497;
$font-size: 1em;
$block-width: 50%;
$block-height: 12vh;
$text-margin: 3%;
$text-padding: 3%;
$img-resize: 260px;
$border-style: 1px solid $color-grey;
$input-width: 250px;
$input-height: 30px;
 
